@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-3xl font-bold text-left;
  }

  .subtext {
    @apply text-xl font-normal text-left mt-2;
  }

  .button {
    @apply block border-[3px] rounded-3xl text-xl text-center p-2 mt-8 transition-all hover:text-white/* hover:scale-105*/;
  }

  .pImg {
    @apply w-full h-auto lg:h-64 object-contain mt-6;
  }
}

.hero {
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.55)
    ),
    url("images/bunnies-banner-v4-blurred.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
