body {
  text-align: center;
  background: black;
  color: #ffb18f;
  padding: 0;
  margin: 0;
  font-family: "Rubik Mono One", sans-serif;
}

#title {
  font-size: 60px;
  margin-top: 25px;
  margin-bottom: 35px;
  letter-spacing: -3px;
}

#result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 260px;
  margin: 0;
}

#numberT {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: 0;
  margin-top: 30px;
}

.buttonsDiv {
  margin-bottom: 20px;
}

.button {
  background-color: #ffb18f;
  border: none;
  color: black;
  font-size: 30px;
  letter-spacing: -3px;
  padding: 12px 20px;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  transition: filter 0.3s linear;
  font-family: "Rubik Mono One", sans-serif;
}

#muteButton {
  background-color: transparent;
  color: #ffb18f;
}

.button:hover {
  filter: drop-shadow(0 0 18px #da5305);
}

.button:active {
  background-color: #db9d83;
}

#vOn {
  display: block;
}

#vOff {
  display: none;
}
