@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

$navbar-background-color: #222831;
$card-background-color: #393e46;
$title-color: #eeeeee;
$family-sans-serif: "Lexend Deca", sans-serif;
$card-content-padding: 100px;
@import "./node_modules/bulma/bulma.sass"