@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sub1title {
    @apply mt-14 text-pretty py-4 text-left text-xl font-bold text-gray-900;
  }

  .sub2title {
    @apply mt-8 text-pretty py-4 text-left text-lg font-semibold text-gray-900;
  }

  .sub3title {
    @apply mt-4 text-pretty py-4 text-left text-base font-medium text-gray-900;
  }

  .sub1title-subtext {
    @apply mt-4 text-pretty py-2 text-left font-medium text-gray-700;
  }

  .text {
    @apply mb-3 text-pretty text-left text-base leading-7 text-gray-800 last:mb-0;
  }

  .subtext {
    @apply mb-4 mt-1.5 text-left text-sm italic text-gray-600;
  }

  .link {
    @apply text-blue-900 underline decoration-2 transition hover:text-blue-600 hover:decoration-wavy hover:decoration-1 active:text-blue-700;
  }

  .download-link {
    @apply text-green-900 underline decoration-2 transition hover:text-green-600 hover:decoration-wavy hover:decoration-1 active:text-green-700;
  }

  .internal-link {
    @apply text-sky-900 underline decoration-2 transition hover:text-sky-600 hover:decoration-wavy hover:decoration-1 active:text-sky-700;
  }

  .code-block-div {
    @apply mb-6 mt-3;
  }

  .post-dates-div {
    @apply mt-2 flex gap-3 text-left text-sm text-gray-600;
  }

  .post-img-div {
    @apply mb-6 mt-3;
  }

  .post-img {
    @apply w-full rounded-lg border-2 border-gray-200;
  }

  .sp-table {
    @apply mb-2 max-w-lg border-b-2 border-t-0 border-gray-400 text-left md:max-w-full;
  }

  .sp-table-head {
    @apply border-b-2 border-gray-400;
  }

  .sp-table-head-item {
    @apply px-2.5 pb-2 align-bottom font-normal leading-normal;
  }

  .sp-table-item {
    @apply border-x-2 border-gray-400 px-4 py-2 align-top font-normal leading-relaxed md:leading-8;
  }

  .sp-table-list-item {
    @apply leading-relaxed md:leading-8;
  }

  .sp-table-row {
    @apply border-b-2 border-gray-400;
  }

  .highlight {
    @apply bg-gradient-to-br from-green-600/20 to-green-600/10 italic;
  }

  .check-sizes {
    @apply border-8 border-blue-500 bg-blue-200 sm:border-green-500 sm:bg-green-200 md:border-yellow-500 md:bg-yellow-200 lg:border-orange-500 lg:bg-orange-200 xl:border-red-500 xl:bg-red-200;
  }

  .invisible-fade {
    @apply invisible opacity-0 transition-all;
  }

  .visible-fade {
    @apply visible opacity-100 transition-all;
  }
}

.fade-text {
  -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
}

.slanted-highlight {
  /* https://pepelsbey.dev/articles/skewed-highlight/ */
  --mark-color: #f8db75;
  --mark-skew: 0.25em;
  --mark-height: 1em;
  --mark-overlap: 0.3em;

  margin-inline: calc(var(--mark-overlap) * -1);
  padding-inline: var(--mark-overlap);

  background-color: transparent;
  background-image:
    linear-gradient(to bottom right, transparent 50%, var(--mark-color) 50%),
    linear-gradient(var(--mark-color), var(--mark-color)),
    linear-gradient(to top left, transparent 50%, var(--mark-color) 50%);
  background-size:
    var(--mark-skew) var(--mark-height),
    calc(100% - var(--mark-skew) * 2 + 1px) var(--mark-height),
    var(--mark-skew) var(--mark-height);
  background-position:
    left center,
    center,
    right center;
  background-repeat: no-repeat;
  color: inherit;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.vertical-rl {
  writing-mode: vertical-rl;
  rotate: 180deg;
}

.font-fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JakesHandwriting";
  src: url("/fonts/Jakes_Handwriting_V5-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
