@import "tailwindcss";

@theme {
  --breakpoint-2xs: 25rem;
  --breakpoint-xs: 30rem;
}

@layer components {
  .sub0title {
    @apply mt-14 py-4 text-left text-2xl font-[550] text-pretty text-stone-900 md:text-3xl;
  }

  .sub1title {
    @apply mt-14 py-4 text-left text-xl font-[500] text-pretty text-stone-900 md:text-2xl;
  }

  .sub2title {
    @apply mt-6 py-4 text-left text-lg font-[450] text-pretty text-stone-900 md:mt-8 md:text-xl;
  }

  .sub3title {
    @apply mt-3 py-4 text-left font-[400] text-pretty text-stone-900 md:mt-4 md:text-lg;
  }

  .sub0title-subtext {
    @apply py-2 text-left text-sm leading-7 font-[350] text-pretty text-stone-700 md:text-base;
  }

  .text {
    @apply mb-3 text-left text-sm leading-7 font-[350] text-pretty text-stone-700 last:mb-0 md:text-base md:leading-7.5;
  }

  .subtext {
    @apply mt-1.5 mb-4 text-left text-xs leading-5 text-stone-600 italic md:text-sm md:leading-6;
  }

  .link {
    @apply text-blue-800 underline decoration-blue-800/30 decoration-2 drop-shadow-sm drop-shadow-blue-500/30 transition hover:text-blue-600 hover:decoration-blue-600/40 hover:decoration-wavy hover:decoration-1 active:decoration-blue-600/50 active:drop-shadow-none;
  }

  .download-link {
    @apply text-green-800 underline decoration-green-800/30 decoration-2 drop-shadow-sm drop-shadow-green-500/30 transition hover:text-green-600 hover:decoration-green-600/40 hover:decoration-wavy hover:decoration-1 active:decoration-green-600/50 active:drop-shadow-none;
  }

  .internal-link {
    @apply text-sky-800 underline decoration-sky-800/30 decoration-2 drop-shadow-sm drop-shadow-sky-500/30 transition hover:text-sky-600 hover:decoration-sky-600/40 hover:decoration-wavy hover:decoration-1 active:decoration-sky-600/50 active:drop-shadow-none;
  }

  .code-block-div {
    @apply mt-3 mb-6;
  }

  .post-dates-div {
    @apply mt-2.5 flex gap-3 text-left text-xs text-stone-600 md:text-sm;
  }

  .post-img-div {
    @apply mt-3 mb-6;
  }

  .post-img {
    @apply w-full rounded-lg border-2 border-stone-200;
  }

  .sp-table {
    @apply mb-2 max-w-lg border-t-0 border-b-2 border-stone-400 text-left md:max-w-full;
  }

  .sp-table-head {
    @apply border-b-2 border-stone-400;
  }

  .sp-table-head-item {
    @apply px-2.5 pb-2 align-bottom leading-normal font-normal;
  }

  .sp-table-item {
    @apply border-x-2 border-stone-400 px-4 py-2 align-top leading-relaxed font-normal md:leading-8;
  }

  .sp-table-list-item {
    @apply leading-relaxed md:leading-8;
  }

  .sp-table-row {
    @apply border-b-2 border-stone-400;
  }

  .highlight {
    @apply bg-gradient-to-br from-green-600/20 to-green-600/10 italic;
  }

  .check-sizes {
    @apply border-8 border-blue-500 bg-blue-200 sm:border-green-500 sm:bg-green-200 md:border-yellow-500 md:bg-yellow-200 lg:border-orange-500 lg:bg-orange-200 xl:border-red-500 xl:bg-red-200;
  }

  .invisible-fade {
    @apply invisible opacity-0 transition-all;
  }

  .visible-fade {
    @apply visible opacity-100 transition-all;
  }
}

.fade-text {
  -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
}

.slanted-highlight {
  /* https://pepelsbey.dev/articles/skewed-highlight/ */
  --mark-color: #f8db75;
  --mark-skew: 0.25em;
  --mark-height: 1em;
  --mark-overlap: 0.3em;

  margin-inline: calc(var(--mark-overlap) * -1);
  padding-inline: var(--mark-overlap);

  background-color: transparent;
  background-image:
    linear-gradient(to bottom right, transparent 50%, var(--mark-color) 50%),
    linear-gradient(var(--mark-color), var(--mark-color)),
    linear-gradient(to top left, transparent 50%, var(--mark-color) 50%);
  background-size:
    var(--mark-skew) var(--mark-height),
    calc(100% - var(--mark-skew) * 2 + 1px) var(--mark-height),
    var(--mark-skew) var(--mark-height);
  background-position:
    left center,
    center,
    right center;
  background-repeat: no-repeat;
  color: inherit;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.vertical-rl {
  writing-mode: vertical-rl;
  rotate: 180deg;
}

.font-fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fade-edges {
  mask-image:
    linear-gradient(to bottom, transparent, black 10%, black 90%, transparent),
    linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image:
    linear-gradient(to bottom, transparent, black 10%, black 90%, transparent),
    linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

.fade-edges-tall {
  mask-image:
    linear-gradient(to bottom, transparent, black 5%, black 95%, transparent),
    linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image:
    linear-gradient(to bottom, transparent, black 5%, black 95%, transparent),
    linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}

.fade-edges-wide {
  mask-image:
    linear-gradient(to bottom, transparent, black 10%, black 90%, transparent),
    linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  -webkit-mask-image:
    linear-gradient(to bottom, transparent, black 10%, black 90%, transparent),
    linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}
